/*
* @Author: jumorzhu@tecent.com
* @Date:   2016-12-07 17:01:30
* @Last Modified by:   jumorzhu
* @Last Modified time: 2016-12-13 17:17:12
*/
@import 'global.scss';
@import "lib/_include-media.scss";

$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);
.friend-star-v2{
  background: #fff;
  transition: .5s transform ease-in-out;
  transform-origin: 50% 50%;
  &.inverse{
    transform: rotateY(180deg);
  }
  .index{
    @include media(">phone"){
      display: none;
    }
    .input-area{
      display: border-box;
      padding: 10px;
      margin-top: 30%;
      .input-item{
        display: block;
        margin-bottom: 10px;
        height: 24px;
        line-height:24px;
        &.btn-gp{
          text-align: center;
          margin-top: 20px;
        }
        span{
          &.head{
          display: inline-block;
          text-align: right;
          width: 70px;
          height: 24px;
          line-height:24px;
          margin-right: 10px;
          }
          &.input-btn{
            display: inline-block;
            box-sizing: border-box;
            min-width: 60px;
            height: 28px;
            line-height:28px;
            background: #1CA6F2;
            text-align: center;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 5px;
            color:#fff;
            padding:0px 5px;
          }
        }
        input{
          height: inherit;
          border:1px solid #5FB5E3;
          border-radius:3px;
          box-sizing: border-box;
          padding-left: 10px;
          }
      }
    }
  }
  .friend-step-1{
    display: inline-block;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: relative;
    width:100vw;
    height: 100vh;
    font-family: 'SimHei';
    background: #000;

    // background:url('../images/star-example.png') no-repeat;
    background-size:100vw 100vh;

    @include media(">phone"){
      display: none;
    }
    .image-preview{
      position: absolute;
      top: 66px;
    }
    .word{
      @include media("<=phone") {
        box-sizing: border-box;
        position: absolute;
        bottom: 42px;
        width:100%;
        min-height: 38px;
        max-height: 106px;
        overflow: hidden;
        background: rgba(0,0,0,0.5);
        span{
          display: inline-block;
        }
        .info{
          width:100%;
          min-height: 6px;
          -webkit-box-sizing:border-box;
          font-size: 12px;
          color:#fff;
          padding: 8px 5px 15px 10px;
        }
      }
    }
    .bt-bar{
      span{
        display: inline-block;
        box-sizing:border-box;
        vertical-align: middles;
        color:#fff;
        font-size: 10px;
        height:  43px;
        line-height:  38px;
        text-align: right;
      }
      @include media("<=phone") {
        position: absolute;
        bottom:0;
        width:100%;
        height: 43px;
        background: #181818;
        .like-icon{
          position: relative;
          width:70px;
          padding-right:20px;
          &:before{
            content: " ";
            display: inline-block;
            width:35px;
            height:40px;
            background:url('../images/like_comment.png') no-repeat;
            background-position: 12px 8px ;
            position: absolute;
            left: 0;
            background-size:70px;
          }

          &:after{
            content: ' ';
            display: inline-block;
            position: absolute;
            right: 4px;
            top: 8px;
            height: 20px;
            border-right:1px solid rgba(255, 230, 230, 0.13);
          }

        }
        .comment-icon{
          width:70px;
          padding-right:19px;
          position: relative;
          &:before{
            content: " ";
            display: inline-block;
            width:22px;
            height:40px;
            background:url('../images/like_comment.png') no-repeat;
            background-position:-35px 9px ;
            position: absolute;
            left: 5px;
            background-size:70px;
          }
        }
        .num-box{
          position: absolute;
          right: 0;
          top: 0;
          width:50%;
          // font-weight: bold;
          text-align: right;
          $common-margin:3px;
          .like-num{
           min-width: 40px;
           margin-right: $common-margin;
           &:before{
             content: " ";
             display: inline-block;
             width:20px;
             height:100%;
             margin-right: $common-margin;
             vertical-align: middle;
             background:url('../images/like_comment.png') no-repeat;
             background-position: 0px 9px ;
             background-size:70px;
           }
          }
          .comment-num{
            min-width: 40px;
            box-sizing:border-box;
            padding-right: 5px;
            &:before{
              content: " ";
              display: inline-block;
              width:20px;
              height:100%;
              vertical-align: middle;
              margin-right: $common-margin;
              background:url('../images/like_comment.png') no-repeat;
              background-position:-35px 9px ;
              background-size:70px;
            }
          }
        }
      }
    }
  }
  .friend-step-2{
    background: #fff;
    // background: url('../images/step-2.png')no-repeat;
    visibility : hidden;
    &.show{
      visibility : visible;
    }
    position: absolute;
    transition: .1s .2s visibility  ease-in-out;
    top:0;
    left: 0;
    width:100vw;
    height:100vh;
    overflow-y: scroll;
    transform-origin: 50% 50%;
    transform: rotateY(180deg);
    color:#000;
    border:none;
    &.inverse{
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    .info{
      position: relative;
      @include media("<=phone") {
        box-sizing:border-box;
        width:100%;
        height: 240px;
        margin-top: 70px;
        .left{
          display: inline-block;
          width:62px;
          height: 100%;
          .attavr{
            margin-left: 10px;
            width:40px;
            height:40px;
          }
        }
        .right{
          position: absolute;
          left: 62px;
          right:0px;
          top: 0;
          bottom:0;
          .user-name{
            display: inline-block;
            width: 100%;
            height:13px;
            font-size: 13px;
            box-sizing:border-box;
            padding-left:3px;
            line-height: 10px;
            font-weight: bold;
            color:#0975C2;
          }
          .text{
            display: inline-block;
            width: 100%;
            font-size: 14px;
            min-height: 20px;
            line-height: 25px;
          }
          .img{
            display: inline-block;
            width:100%;
            height: 160px;
            img{
              height:100%;
            }
          }
          .bottom{
            width: 100%;
            height:15px;
            .ago{
              display: inline-block;
              height: 100%;
              font-size: 8px;
              color:#a0a0a0;
            }
            .del-btn{
              display: inline-block;
              margin-left:6px;
              color:#05729a;
              vertical-align: top;
            }
          }
        }
      }
    }
    .lc-box{
      position: relative;
      box-sizing:border-box;
      margin:5px 10px;
      $bc:rgba(200,200,200,0.22);
      background:$bc;
      min-height: 50px;
      line-height: 40px;
      padding-top:10px;
      padding-left:40px;
      padding-right:25px;
      padding-bottom: 5px;
      margin-bottom: 40px;
      &:before{
        position: absolute;
        top: -10px;
        left: 8px;
        content: " ";
        display: inline-block;
        width:0;
        height:0;
        border-left:10px solid transparent;
        border-right:10px solid transparent;
        border-bottom: 10px solid $bc;
      }
      &:after{
        content:" ";
        display: inline-block;
        position: absolute;
        left: 10px;
        top:10px;
        width:25px;
        height:25px;
        background:url('../images/like.png') no-repeat;
        background-position: 0px 5px ;
        background-size:17px;
      }
      @include media("<=phone"){
        img{
          display: inline-block;
          vertical-align: top;
          width:34px;
          height: 34px;
          margin-bottom: 5px;
          margin-right: 5px;
        }
      }
    }
    .c-box{
     position: fixed;
     bottom:0;
     left: 0;
     width: 100%;
     height: 50px;
     line-height: 45px;
     padding-left:10px;
     padding-bottom: 10px;
     border-top:1px solid #ccc;
     background: #ffffff;
     z-index: 999;
     @include media("<=phone"){
       input{
        display: inline-block;
        box-sizing:border-box;
        padding-left:10px;
        width:250px;
        height: 30px;
        outline: none;
        border:1px solid #ccc;
        border-radius:5px;
        line-height: 30px;
        vertical-align: middle;
       }
       img{
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        width:30px;;
        height: 30px;;
       }
     }
   }
  }
  .alert{
    @include media("<=phone"){
      display: none;
    }
  }

}
