/*
* @Author: jumorzhu@tecent.com
* @Date:   2016-12-06 15:20:32
* @Last Modified by:   jumorzhu
* @Last Modified time: 2016-12-12 17:36:48
*/
@import '../global.scss';

.image-preview{
  position: relative;
  display: inline-block;
  box-sizing:border-box;
  canvas{
    display: inline-block;
  }
}
